.Main {
    float: left;
    margin-top: -5px;
    width: 80%;
    height: 800px;
    background: #f7f6f6;
    padding: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
   
}

.Main-sweet img{
    float: left;
    
}
.Main-sweet a{
    color: black;
    font-family:'Times New Roman', Times, serif;
   
}

.Main-style p{
    margin-left:250px;
    border:2px solid #b80762;
}