.Nav {
    float: right;
    margin-top: -5px;
    width: 20%;
    height: 800px;
    background: #becdf5;
    padding: 50px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    border:2px solid #b80762;
}